<?xml version="1.0" encoding="UTF-8"?> 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         metadata-complete="true">
    <!-- metadata-complete="true" 忽略注解只由web.xml提供配置 -->
    
    <display-name>test_javaapi</display-name>
    <welcome-file-list>  
	    <welcome-file>index.html</welcome-file>  
	</welcome-file-list>  
    
    
    <error-page>
        <error-code>404</error-code>
        <location>/error/notfound.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/secret.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IOException</exception-type>
        <location>/error/ioexception.html</location>
    </error-page>
    <!-- <error-page>
        <location>/error/anyerror.html</location>
    </error-page> -->
      
    <!-- 
    Servlet 中的 load-on-startup说明
    1)load-on-startup元素标记容器是否在启动的时候就加载这个servlet(实例化并调用其init()方法)。
	2)它的值必须是一个整数，表示servlet应该被载入的顺序
	3)当值为0或者大于0时，表示容器在应用启动时就加载并初始化这个servlet；
	4)当值小于0或者没有指定时，则表示容器在该servlet被选择时才会去加载。
	5)正数的值越小，该servlet的优先级越高，应用启动时就越先加载。
	6)当值相同时，容器就会自己选择顺序来加载。
     -->
     
	<!-- <servlet>  
		<servlet-name>shoppingCart</servlet-name>  
		<servlet-class>com.xhc.test.javaapi.servlet.ShoppingCart</servlet-class>  
        <load-on-startup>1</load-on-startup>  
	</servlet>  
	<servlet-mapping>  
		<servlet-name>shoppingCart</servlet-name>  
        <url-pattern>/shoppingCart</url-pattern>  
    </servlet-mapping>   -->
  
    <servlet>  
        <servlet-name>cookieCutter</servlet-name>  
        <servlet-class>com.xhc.test.javaapi.servlet.CookieCutter</servlet-class>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>cookieCutter</servlet-name>  
        <url-pattern>/cookieCutter</url-pattern>  
    </servlet-mapping>
    
    <!-- 测试servlet自带安全控制 -->
    <!-- <servlet>  
        <servlet-name>cecureHello</servlet-name>  
        <servlet-class>com.xhc.test.javaapi.servlet.SecureHelloClient</servlet-class>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>cecureHello</servlet-name>  
        <url-pattern>/secret/cecureHello</url-pattern>  
    </servlet-mapping>
    <servlet>  
        <servlet-name>mylogin</servlet-name>  
        <servlet-class>com.xhc.test.javaapi.servlet.MyLogin</servlet-class>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>mylogin</servlet-name>  
        <url-pattern>/login</url-pattern>  
    </servlet-mapping> -->
    
    
    
    
    
    <!-- 测试filter  -->
    <servlet>  
        <servlet-name>waitservlet</servlet-name>  
        <servlet-class>com.xhc.test.javaapi.servlet.filter.WaitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>waitservlet</servlet-name>  
        <url-pattern>/testfilter1</url-pattern>  
    </servlet-mapping>
    
    <filter>
        <filter-name>conlimitfilter1</filter-name>
        <filter-class>com.xhc.test.javaapi.servlet.filter.ConlimitFilter</filter-class>
        <init-param>
            <param-name>limit</param-name>
            <param-value>3</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>conlimitfilter1</filter-name>
        <url-pattern>/testfilter1</url-pattern>
        <!-- <servlet-name>waitservlet</servlet-name> -->
    </filter-mapping>
    
    <filter>
        <filter-name>defaultsfilter1</filter-name>
        <filter-class>com.xhc.test.javaapi.servlet.filter.RequestDefaultsFilter</filter-class>
        <init-param>
            <param-name>time</param-name>
            <param-value>3</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>defaultsfilter1</filter-name>
        <servlet-name>waitservlet</servlet-name>
    </filter-mapping>
    
    
    <filter>
        <filter-name>linkResponseFilter1</filter-name>
        <filter-class>com.xhc.test.javaapi.servlet.filter.LinkResponseFilter</filter-class>
        <init-param>
            <param-name>Oracle</param-name>
            <param-value>https://www.oracle.com</param-value>
        </init-param>
        <init-param>
            <param-name>Mysql</param-name>
            <param-value>https://www.mysql.com/</param-value>
        </init-param>
        <init-param>
            <param-name>Redis</param-name>
            <param-value>https://redis.io/</param-value>
        </init-param>
        <init-param>
            <param-name>Mongodb</param-name>
            <param-value>https://www.mongodb.com/</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>linkResponseFilter1</filter-name>
        <servlet-name>testResponseServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>testResponseServlet</servlet-name>
        <servlet-class>com.xhc.test.javaapi.servlet.filter.TestResponseFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testResponseServlet</servlet-name>
        <url-pattern>/testResponseFilter</url-pattern>
    </servlet-mapping>
    
    
    
    
    <!-- servlet安全控制 -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secret documents</web-resource-name>
            <url-pattern>/secret/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>secretagent</role-name>
        </auth-constraint>
        <user-data-constraint>
            <!-- 
                NONE :不需要特殊传输 
                INTEGRAL ：发送数据使用的传输协议要保证数据不会被修改，接收端会使用数字签名等方法鉴别。但不要求在传输中加密或隐藏数据
                CONFIDENTIAL ：同INTEGRAL 但同时要求加密数据。
            -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <!-- 
            BASIC: 使用弹出对话框输入用户名 密码
            DIGEST: BASIC变种,隐藏口令文本
            FORM: 使用表达发送用户名密码
            CLIENT-CERT: 客户端使用公钥证书，需要使用ssl等协议
         -->
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login_error.html</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
